.container {
  background-color: var(--color-white);
  max-width: 43rem;
  border-radius: 0.75rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 38em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 2rem;
    max-height: 43.6rem;
    max-width: 25rem;
  }
}
